/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    background-color: #1c1c1c;
    color: #e0e0e0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-brand {
    color: #ff5722;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Offcanvas Styles */
.offcanvas {
    background-color: #1c1c1c;
}

.offcanvas .nav-link {
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

.offcanvas .nav-link:hover {
    color: #ff5722;
}

/* Title Section */
.title-section {
    text-align: center;
    padding: 100px 30px;
    background-color: #282828;
    color: #ffffff;
    margin: 0;
}

.title-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.title-section p {
    margin: 40px 0 0;
    font-size: 1.2rem;
    color: #ffffff;
}

/* Phone Number Section */
.phone-section {
    background-color: #d20000;
    padding: 40px 20px;
    text-align: center;
    color: #e0e0e0;
}

.phone-content {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.phone-section h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
}

.phone-number {
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.phone-number:hover {
    color: #e0e0e0;
}

/* Responsive Styles for Phone Section */
@media (max-width: 768px) {
    .phone-content {
        gap: 20px;
    }

    .phone-number {
        font-size: 2rem;
    }
}

/* Contact Section */
.contact-section {
    background-color: #1e1e1e;
    padding: 60px 20px;
    text-align: center;
}

.contact-section h2 {
    color: #e0e0e0;
    margin-bottom: 30px;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
}

.contact-link {
    color: #e0e0e0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact-link:hover {
    color: #ff5722;
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/* Responsive Styles for Contact Section */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-item {
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }

    .contact-icon {
        margin-right: 10px;
    }
}

/* Metals Info Section */
.metals-info-section {
    background-color: #282828;
    color: #e0e0e0;
    padding: 40px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.metals-info-section h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ff5722;
    margin-bottom: 20px;
}

.metals-info-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 20px 0;
    color: #b0b0b0;
}

/* Responsive Styles for Metals Info Section */
@media (max-width: 768px) {
    .metals-info-section {
        padding: 20px 10px;
    }

    .metals-info-section h2 {
        font-size: 1.8rem;
    }

    .metals-info-section p {
        font-size: 1rem;
    }
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

.card {
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: 1 1 220px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
}

/* Ensure the last card takes remaining space */
.card:last-child {
    flex: 1 1 auto;
}

/* Responsive adjustments for cards */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
        text-align: center;
    }

    .card-content {
        order: -1; /* Move card title above the image */
    }

    .card img {
        margin-top: 10px;
    }
}

/* Footer Styles */
.footer {
    background-color: #1c1c1c;
    color: #e0e0e0;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 10px 0;
    font-size: 0.9rem;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-link {
    color: #e0e0e0;
    text-decoration: none;
}

.footer-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.footer-link:hover .footer-icon {
    transform: scale(1.1);
    filter: brightness(1.5);
}

/* Responsive Styles for Footer */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
}
